<h1><%= @task.title %></h1>

<div class="alert alert-light"><%= @task.details %></div>
<div class="form-check my-3">
  <input class="form-check-input" type="checkbox" value="" <%= @task.completed ? "checked" : "" %> id="checkDefault" disabled>
  This is task is <%= @task.completed ? "completed" : "not completed yet" %>
</div>

<div>
  <%= link_to "Edit task", edit_task_path(@task), class: "btn btn-primary" %>
  <%= link_to "Back to list", tasks_path, class: "btn btn-primary" %>
</div>